body {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}

/* nav */

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Roxborough CF';
    background-color: #222;
    z-index: 10;
}

.navbar-header > .navbar-brand {
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;

    
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
    color: white;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #dac9ba;
}

/* nav right*/ 
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #dac9ba !important;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    line-height: 20px;
    margin-right: -500px;
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        max-height: 60px;
        margin: 0;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      font-size: 2em;
    }


    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #dac9ba;
    }
    

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 2em;
        color: #b3a497;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #b3a497;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #b3a497;
    }

    
}


@media (max-width: 411px) {
    
    #logo {
      margin-left: 5%;
      font-size: 25px;
      color: #dac9ba;
      padding-top: 4%;
    }
  
  }

  @media (min-width: 412px) and  (max-width: 767px) {

    #logo {
    
      padding-top: 2.5%;
      margin-left: 5%;
      font-size: 25px;
      color: #dac9ba;
    }
    
    
    }

 @media (min-width: 768px) and  (max-width: 1024px) {

     #logo {
        
      margin-left: 5%;
      font-size: 30px;
      color: #dac9ba;
      padding-top: 20px;
        }
        
        
        }

@media (min-width: 768px) and  (max-width: 1024px) {


  #logo {
  
    margin-left: 5%;
    font-size: 30px;
    color: #dac9ba;
    padding-top: 20px;
  }

  }


  @media (min-width: 1025px) {

   #logo{
     margin-left: 5%;
     margin-top: 20px;
 }

 #about {
     margin-left: -60%;
     margin-top: 5%;
 }

 

}

