body {
    background-color: #1d1d1d;
    overflow-x: hidden;
}


#place {
    margin-top: 2%
}

.contacthead {
    margin-bottom: 2%;
    text-transform: lowercase;
    color: white;
    font-family: 'Karla';
    letter-spacing: 4px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;

}


#form {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

td {
    height: 50px;
    vertical-align: bottom;
}


#me {
    opacity: 0;
}

#center {
    text-align: center;
}

#total {
    border-bottom: 2px solid white;
}

p#get {
    font-style: italic;
    color: #dac9ba;
    font-family: 'Gobold Hollow';

}

.line2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1%;
}

#contactform {
    margin-top: 5%;
}

#vl {
    height: 150px;
    border-right: 4px solid white;
    top: 20%;
    position: relative;
}

.col-md-auto {
    margin-top: 6%;
}

 /* .container */

     .container,
     .container-fluid,
     .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        
          width: 100%;
          margin-right: auto;
          margin-left: auto;
        }

section {
    padding: 70px 0;
}


.line, .line2 {
    background-color: #dac9ba;
}

h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable{
    color: white;
    font-family: 'Karla';
    line-height: 1.4em;
    letter-spacing: 4px;
}

h3#awards {
    color: white;
    font-family: 'Karla';
    line-height: 1.4em;
    letter-spacing: 4px;
    width: auto;
    display: inline-block;
    margin-left: 10%;
}

h2#awtext, h2#edutext {
    font-family: 'Prompt';
    margin-right: auto;
    margin-left: auto;
}


p#pin {
    color: white;
    line-height: 1.3em;
    letter-spacing: 4px;
    font-size: 100px;
    font-family: 'Gobold Hollow';
}

h1#about {
    color: #dac9ba;
    font-family: 'Karla';
    line-height: 1.3em;
    letter-spacing: 4px;
}

#left span {
    color: #dac9ba;
    text-transform: uppercase;
    font-style: italic;
}
/* nav */

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Roxborough CF';
    background-color: #222;
    z-index: 10;
}

.navbar-header > .navbar-brand {
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;

    
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
    color: white;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #dac9ba;
}

/* nav right*/ 
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #dac9ba !important;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    line-height: 20px;
    margin-right: -500px;
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        max-height: 60px;
        margin: 0;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      font-size: 2em;
    }


    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #dac9ba;
    }
    

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 2em;
        color: #b3a497;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #b3a497;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #b3a497;
    }

    
}


@media (max-width: 414px) {
    
    #logo {
      margin-left: 5%;
      font-size: 25px;
      color: #dac9ba;
      padding-top: 4%;
    }
  
  }

  @media (min-width: 415px) and  (max-width: 767px) {

    #logo {
    
      padding-top: 2.5%;
      margin-left: 5%;
      font-size: 25px;
      color: #dac9ba;
    }
    
    
    }

 @media (min-width: 768px) {

     #logo {
      margin-left: 5%;
      font-size: 30px;
      color: #dac9ba;
        }
        
        
 }


  @media (min-width: 1025px) {

   #logo{
     margin-left: 5%;
     margin-top: 20px;
 }

      }

      @media (max-width: 575px) {


        #me {
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
        }
    
        #about, #intro {
            margin-top: 10%;
  
        }
    
        #pin {
            margin-top: 45%;
        }
    
  
        p#pin  , p#get {
            font-size: 46px;
            text-align: center;
        }
  
        h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            font-size: 20px;
            text-align: center;
        }
  
        h1#about  {
            font-size: 34px;
            text-align: center;
        }
  
          
        .aratcha {
          display: block;
          margin: 0 auto;
          position: absolute;
          margin-top: 4%;
          width: 80%;
          margin-left: 5%;
      }

      #awards {
        display: block;
        font-size: 40px;
        margin-top: 5%;
        text-align: center;
      }


      .line {
        width: 200px;
        height: 3px;
        margin-left: auto;
        margin-top: 2%;
        margin-right: auto;
        display: block;
    }

        h2#awtext {
            margin-top: 3%;
            font-size: 16px;
        }

        #awardsandedu {
            margin-top: -30%;
        }


     
    }


    @media (min-width: 576px) {
      .container, .container-sm {
        max-width: 540px;
      }

        #me {
          margin-top: 15%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 100%;
      }
  
      #about, #intro {
          margin-top: 10%;

      }
  
      #pin {
          margin-top: 45%;
      }
  

      p#pin  , p#get {
          font-size: 100px;
          text-align: left;
      }

      h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable{
          font-size: 28px;
          text-align: center;
      }

      h1#about   {
          font-size: 40px;
          text-align: center;
      }
      
      
        
      .aratcha {
        display: block;
        margin: 0 auto;
        position: absolute;
        margin-top: 4%;
        width: 100%;
        margin-left: -3%;
    }

    #awards {
        font-size: 40px;
        margin-top: 5%;
        text-align: center;
      }


      .line {
        width: 300px;
        height: 3px;
        margin-left: auto;
        margin-top: 2%;
        margin-right: auto;
        display: block;
    }

        h2#awtext {
            margin-top: 4%;
        }

        #awardsandedu {
            margin-top: -12%;
        }


    }
    
    @media (min-width: 768px) {
      .container, .container-sm, .container-md {
        max-width: 720px;
      }
      .col-sm-5 {
        width: 50%;
        }

  
        #me {
          margin-top: 40%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 100%;
      }
  
      #about, #intro {
          margin-top: 10%;

      }
  
      #pin {
          margin-top: 28%;
      }
  

      p#pin  ,  p#get {
          font-size: 60px;
          text-align: left;
      }

      h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
          font-size: 24px;
          text-align: left;
      }

      h1#about   {
          font-size: 32px;
          text-align: left;
      }

  
      .aratcha {
          display: block;
          margin: 0 auto;
          position: absolute;
          margin-top: 4%;
          width: 50%;
          margin-left: -3%;
      }

      #awards {
        display: block;
        font-size: 34px;
        text-align: left;
      }


      .line {
        width: 500px;
        height: 3px;
        margin-left: 15%;
        margin-top: 1%;
    }

    h2#awtext {
            margin-top: 3%;
            margin-left: -15%;
            
        }

        #awardsandedu {
            margin-top: -12%;
        }

    }


      
      @media (min-width: 992px) {

        .container, .container-sm, .container-md, .container-lg {
          max-width: 960px;
        }

        #me {
            margin-top: 25%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
        }
    
        #about, #intro {
            margin-top: 10%;
            text-align: left;

        }
    
        #pin {
            margin-top: 28%;
            text-align: left;
        }
    

        p#pin  ,  p#get {
            font-size: 80px;
            text-align: left;
        }

    
        .aratcha {
            display: block;
            margin: 0 auto;
            position: absolute;
            margin-top: 4%;
            width: 50%;
            margin-left: -3%;
        }

        h1#about,h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            text-align: left;
        }

        #awards {
            display: block;
            font-size: 40px;
          }


          .line {
            width: 400px;
            height: 3px;
            margin-left: 10%;
            margin-top: 1%;
        }

            h2#awtext {
                margin-top: 3%;
                margin-left: -35%;
            }

            #awardsandedu {
                margin-top: -18%;
            }
      }
      
      @media (min-width: 1200px) {
        .container, .container-sm, .container-md, .container-lg, .container-xl {
          max-width: 1150px;
        }

        #me {
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
        }
    
        #about, #intro {
            margin-top: 10%;

        }
    
        #pin {
            margin-top: 25%;

        }
    
    
        .aratcha {
            display: block;
            margin: 0 auto;
            position: absolute;
            margin-top: 4%;
            width: 50%;
            margin-left: -3%;
        }

        p#pin  ,  p#get {
            font-size: 100px;
            text-align: left;
        }

        h1#about,h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            text-align: left;
        }

        #awards {
            display: block;
            font-size: 40px;
          }


          .line {
            width: 500px;
            height: 3px;
            margin-left: 10%;
            margin-top: 1%;
        }

        h2#awtext {
                margin-top: 3%;
                margin-left: -35%;

            }

            #awardsandedu {
                margin-top: -15%;
            }
      }
      
     @media (min-width: 1400px) {
        .container, .container-sm, .container-md, .container-lg, .container-xl {
          max-width: 1350px;
        }


        #me {
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
        }
    
        #about, #intro {
            margin-top: 8%;
            margin-left: 10%;
        }
    
        #pin {
            margin-top: 20%;
            margin-left: 10%;
        }
    
    
        .aratcha {
            display: block;
            margin: 0 auto;
            position: absolute;
            margin-top: 2%;
            width: 50%;
            margin-left: 7%;
        }

        p#pin  ,  p#get {
            font-size: 100px;
            text-align: left;
        }

        h1#about,h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            text-align: left;
        }

        #awards {
            display: block;
            font-size: 50px;
          }


          .line {
            width: 700px;
            height: 3px;
            margin-left: 15%;
            margin-top: 1%;
        }

        h2#awtext {
                margin-top: 3%;

            }

            #awardsandedu {
                margin-top: -10%;
            }

            #formcol {
                margin-right: auto;
            }
    
              .container, .container-sm, .container-md, .container-lg, .container-xl {
                max-width: 1550px;
              }
    
              #me {
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 70%;
            }
        
            #about, #intro {
                margin-top: 5%;
                margin-left: 10%;
            }
        
            #pin {
                margin-top: 20%;
                margin-left: 10%;
            }
        
        
            .aratcha {
                display: block;
                margin: 0 auto;
                position: absolute;
                margin-top: 2%;
                width: 50%;
                margin-left: 7%;
            }
     
            p#pin  ,  p#get{
                font-size: 100px;
                text-align: left;
            }
          
            h1#about,h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
                text-align: left;
            }
    
            #awards {
                display: block;
                font-size: 50px;
              }
    
    
              .line {
                width: 700px;
                height: 3px;
                margin-left: 15%;
                margin-top: 1%;
            }
    
            h2#awtext {
                    margin-top: 3%;
                    margin-left: -40%;
    
                }
    
                #awardsandedu {
                    margin-top: -12%;
                }
    
                #awards {
                    display: block;
                    font-size: 50px;
                  }
        
        
                  .line {
                    width: 800px;
                    height: 3px;
                    margin-left: 10%;
                    margin-top: 1%;
                }
        
                .line2 {
                    width: 1300px;
                    height: 3px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
        
                }
        
                h2#awtext {
                        margin-top: 3%;
                        margin-left: -30%;
                        width: auto;
                    }
        
                    #awardsandedu {
                        margin-top: -250px;
                    }
        
                    #edu {
                        margin-top: -100px;
                        
                    }
        
                    .edupad {
                        padding-left: 180px;
                       
                    }
        
                    .awpad {
                        padding-left: 200px;
                    }
        
                    h4#textawards  {
                        font-size: 22px;
                    }
        
                    #edutext {
                        margin-top: 3%;
                    }
        
                    #padyear {
                        padding-top: 5%
                    }
                
                    #topad {
                        padding-left: 100px;
                    }
        
                    #totaltable {
                        margin-top: 4%;
                        margin-left: 43%;
                    }
                    
                    p#get {
                        font-size: 120px;
                       
                    }
        
                    li#contactname{
                        font-size: 24px;
                        font-family: 'Karla';
                    }
        
                    .contacthead {
                        font-size: 60px;
                        margin-left: 5%;
                    }
              
                
                    .form-horizontal {
                        margin-left: 30%;
                    }

                    #contactright {
                        margin-left: auto;
                    }

      }
      
    @media (min-width: 1600px) {

        #formcol {
            margin-right: auto;
        }

          .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1550px;
          }

          #me {
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
        }
    
        #about, #intro {
            margin-top: 5%;
            margin-left: 10%;
        }
    
        #pin {
            margin-top: 20%;
            margin-left: 10%;
        }
    
    
        .aratcha {
            display: block;
            margin: 0 auto;
            position: absolute;
            margin-top: 2%;
            width: 50%;
            margin-left: 7%;
        }
 
        p#pin  ,  p#get{
            font-size: 100px;
            text-align: left;
        }
      
        h1#about,h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            text-align: left;
        }

        #awards {
            display: block;
            font-size: 50px;
          }


          .line {
            width: 700px;
            height: 3px;
            margin-left: 15%;
            margin-top: 1%;
        }

        h2#awtext {
                margin-top: 3%;
                margin-left: -40%;

            }

            #awardsandedu {
                margin-top: -12%;
            }

            #awards {
                display: block;
                font-size: 50px;
              }
    
    
              .line {
                width: 800px;
                height: 3px;
                margin-left: 10%;
                margin-top: 1%;
            }
    
            .line2 {
                width: 1300px;
                height: 3px;
                margin-left: auto;
                margin-right: auto;
                display: block;
    
            }
    
            h2#awtext {
                    margin-top: 3%;
                    margin-left: -45%;
                }
    
                #awardsandedu {
                    margin-top: -250px;
                }
    
                #edu {
                    margin-top: -100px;
                    
                }
    
                .edupad {
                    padding-left: 180px;
                   
                }
    
                .awpad {
                    padding-left: 200px;
                }
    
                h4#textawards  {
                    font-size: 22px;
                }
    
                #edutext {
                    margin-top: 3%;
                }
    
                #padyear {
                    padding-top: 5%
                }
            
                #topad {
                    padding-left: 100px;
                }
    
                #totaltable {
                    margin-top: 4%;
                    margin-left: 43%;
                }
                
                p#get {
                    font-size: 120px;
                   
                }
    
                li#contactname{
                    font-size: 24px;
                    font-family: 'Karla';
                }
    
                .contacthead {
                    font-size: 60px;
                }
          
            
                .form-horizontal {
                    margin-left: 30%;
                }

}

    @media (min-width: 1900px) {
        .container, .container-sm, .container-md, .container-lg, .container-xl {
          max-width: 1850px;
          }

          #pic {
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
        }
    
        #about, #intro {
            margin-top: 5%;
            margin-left: 10%;
        }
    
        #pin {
            margin-top: 20%;
            margin-left: 10%;
        }
    
    
        .aratcha {
            display: block;
            margin: 0 auto;
            position: absolute;
            margin-top: 2%;
            width: 50%;
            margin-left: 7%;
        }
 
        p#pin  ,  p#get  {
            font-size: 100px;
            text-align: left;
        }

        h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable  {
            text-align: left;
        }

        h1#about, h2#intro , h2#awtext, h2#edutext, h2#totaltable {
            font-size: 30px;
        }

        #awards {
            display: block;
            font-size: 50px;
          }


          .line {
            width: 800px;
            height: 3px;
            margin-left: 10%;
            margin-top: 1%;
        }

        .line2 {
            width: 1500px;
            height: 3px;
            margin-top: 1%;

        }

        h2#awtext {
                margin-top: 3%;
                margin-left: -45%;
            }

            #awardsandedu {
                margin-top: -250px;
            }

            #edu {
                margin-top: -100px;
                
            }

            .edupad {
                padding-left: 180px;
               
            }

            .awpad {
                padding-left: 200px;
            }

            h4#textawards  {
                font-size: 22px;
            }

            #edutext {
                margin-top: 3%;
            }

            #padyear {
                padding-top: 5%
            }
        
            #topad {
                padding-left: 100px;
            }

            #totaltable {
                margin-top: 4%;
                margin-left: 43%;
            }
            
            p#get {
                font-size: 120px;
               
            }

            li#contactname{
                font-size: 24px;
                font-family: 'Karla';
            }

            .contacthead {
                font-size: 60px;
            }
      
        
            .form-horizontal {
                margin-left: 30%;
            }

            #formcol {
             margin-right: 0;
            }

            #contactright {
                margin-left: 0;
            }

 
      }
      


      .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
       
      }




/* get in touch */

.scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;

}

.scrolling-text .scrolling-text-content {
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

#contactright {
    display: grid;
    grid-template-columns: 100px;
    grid-template-areas:
      "contacthead contacthead"
      "menu content";
    width: auto;
    margin-right: auto;
  }

#formcol {
    margin-left: auto;
    display: block;
}

  
  .contacthead {
    grid-area: contacthead;
    top: 50%;
    position: relative;
    padding: 0 0 0 35px;
  }
  .menu {
    display: flex;
    grid-area: menu;
    align-items: center;
  }
  .content {
    display: flex;
    grid-area: content;
    align-items: center;
  }
  
  





























/* aratcha */

@keyframes aratcha {
    100% {
        stroke-dashoffset: 0;
    }
}

#a_mask {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 80;
    animation: aratcha 1s linear forwards;
}



#a_mask_2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 20;
    animation: aratcha 2s linear forwards 0.8s;
}

#r_mask {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 100;
    animation: aratcha 2s linear forwards 1.3s;
}

#a_mask-2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 100;
    animation: aratcha 2s linear forwards 2s;
}

#a_mask_2-2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 60;
    animation: aratcha 2s linear forwards 2.5s;
}

#t_mask {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 180;
    animation: aratcha 2s linear forwards 3s;
}

#c_mask {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 5;
    animation: aratcha 2s linear forwards 3.5s;
}

#c_mask_2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 40;
    animation: aratcha 2s linear forwards 4s;
}

#h_mask {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 100;
    animation: aratcha 2s linear forwards 4.5s;
}

#h_mask_2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 60;
    animation: aratcha 2s linear forwards 5s;
}

#a_mask-3 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 80;
    animation: aratcha 2s linear forwards 5.5s;
}

#a_mask_2-3 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 20;
    animation: aratcha 2s linear forwards 6s; }


#t_mask_2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 10;
    animation: aratcha 2s linear forwards 6.5s;
}

