


 #contactname {
    letter-spacing: 1.9px;
    color: #bbb;
    font-family: 'Karla';
  }
  
  #contactname a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  #contactname a:hover {
    color: #fff;
    text-decoration: none;
  }

  
  

  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
  }
  
  .list-item {
    line-height: 2;
    color: #aaa;
  }
  
 
  
  


  
  /* Begin Media Queries*/
  @media screen and (max-width: 760px) {
      #contact {
          height: 1000px;
      }

    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
   
  }
  
  @media screen and (max-width: 569px) {
    #contact {
      height: 1200px;
      }
 
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px;
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }


/* form */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body #form {
  font-family: 'Prompt';
}


#form {
  position: relative;
  width: 900px;
  margin: 25px;
}

input {
  font-family: 'Prompt';
  font-size: 1em;
  width: 800px;
  height: 80px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #dac9ba;
  
  border: solid 1px #dac9ba;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #3a3a3a;
  color: #e2dedb;
}

textarea {
  width: 800px;
  max-width: 800px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #dac9ba;
  font-family: 'Prompt';
  font-size:1em;
  
  border: solid 1px #dac9ba;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #3a3a3a;
  color: #e2dedb;
}

#submit {
  width: 800px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Prompt';
  font-size: 1em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #dac9ba;
}

.col {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
