@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    background-color: #111;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #282828;
    color: #d3d3d3;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #dac9ba;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #dac9ba;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

p {
        font-size: 17px;
        line-height: 1.7;
        margin-bottom: 0px;
        text-align: center; 
    }

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #dac9ba;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}

aside {
    padding: 100px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}



.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Roxborough CF';
    background-color: #222;
}

.navbar-header > .navbar-brand {
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;

    
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #dac9ba;
}

/* nav right*/ 
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #dac9ba !important;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    line-height: 20px;
    margin-right: -500px;
}

@media(min-width:768px) {
    .navbar-default {
        background-color: transparent;
        min-height: 60px;
        margin: 0;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #dac9ba;
    }
    

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 2em;
        color: #b3a497;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #b3a497;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #b3a497;
    }
}


header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url("img/pc.gif");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 5%;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content h1 {
    margin-top: 0;
    margin-bottom: 0;
}


#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 10;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}



.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: rgb(255, 255, 255);
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #dac9ba;
    color: #dac9ba;
    background-color: transparent;
    opacity: 0.7;
    
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
    
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 1;
}

.btn {
    border-radius: 290px;
    font-family: 'Karla', sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}


#logo {
    width: 50%;
    margin-top: 12%;

    
}

.navbar-brand {
    margin-top: 0px;
}

#logo {
    width: 100%;
}

/*img*/

.body {
    width: 100%;
    height: 100%;
}


.img-fluid {
        object-position: center center;
        display: block;
        width: 100%;
        object-fit: cover;
    }

 @media (device-width: 1920px) and (device-height: 1200px) {
    #left {
        margin-top: 4%;
        margin-bottom: 8%;
    }
    #graphic {
        margin-top: -2%;
        
    }

    #right {
        margin-top: -2%;
    }

    .img-fluid #cine {
        width: 80%;
    }
    #moreworkpc {
        margin-top: 5%;
    }

 }

 @media (device-width: 1920px) and (device-height: 1080px) {
    #moreworkpc {
        margin-top: 3%;
    }

    #graphic {
        margin-top: -2%;
    }

    #right {
        margin-top: -5%;
    }
    

     }

/* scroll down*/

        .mouse {
            display: block;
            margin: 0 auto;
            width: 26px;
            height: 46px;
            border-radius: 13px;
            border: 2px solid #ffffff;
            position: absolute;
            bottom: 40px;
            position: absolute;
            left: 50%;
            margin-left: -26px;
          }
          .mouse span {
            display: block;
            margin: 6px auto;
            width: 2px;
            height: 2px;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid transparent;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: scroll;
            animation-name: scroll;
          }
          
          @-webkit-keyframes scroll {
            0% {
              opacity: 1;
              -webkit-transform: translateY(0);
              transform: translateY(0);
            }
          
            100% {
              opacity: 0;
              -webkit-transform: translateY(20px);
              transform: translateY(20px);
            }
          }
          @keyframes scroll {
            0% {
              opacity: 1;
              -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
              transform: translateY(0);
            }
          
            100% {
              opacity: 0;
              -webkit-transform: translateY(20px);
              -ms-transform: translateY(20px);
              transform: translateY(20px);
            }
          }
          

        /* .container */

        .container,
        .container-fluid,
        .container-sm,
        .container-md,
        .container-lg,
        .container-xl {
        
          width: 100%;
          margin-right: auto;
          margin-left: auto;
        }
        
        @media (min-width: 576px) {
          .container, .container-sm {
            max-width: 540px;
          }
        }
        
        @media (min-width: 768px) {
          .container, .container-sm, .container-md {
            max-width: 720px;
          }
          .col-sm-5 {
            width: 50%;
            }
        }
        
        @media (min-width: 992px) {
          .container, .container-sm, .container-md, .container-lg {
            max-width: 960px;
          }
        }
        
        @media (min-width: 1200px) {
          .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1150px;
          }
        }
        
          @media (min-width: 1400px) {
          .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1350px;
          }
        }
        
          @media (min-width: 1600px) {
            .container, .container-sm, .container-md, .container-lg, .container-xl {
              max-width: 1550px;
            }
          }

        @media (min-width: 1800px) {
          .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1750px;
          }

        @media (min-width: 1900px) {
          .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1850px;
            }
        }
        

        .row {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
         
        }


        }


  

/* button work */

@media (max-width: 767px) {
#moreworkpc, #certificate {
    display: none;
}
}


@media (min-width: 768px) {
     .certificatephone {
        display: none;
        
        
    }

    #moreworkpc {
        text-align: center;
    }

}

/* overlay */

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#workandproject .container{
  float: center;
}

#workandproject {
    background-color: #111;
}

@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  #workandproject .container {
    float: center;
  }
}


.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 22px;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}



