@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@font-face {
    font-family: 'fc_friday';
    src: url('../font/fc_friday_medium-webfont.woff') format('woff'),
         url('../font/fc_friday_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'babydollregular';
    src: url('../font/babydoll-webfont.woff2') format('woff2'),
         url('../font/babydoll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

iframe.cine {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1#titleproject, h2#titleproject  {
	font-family: 'fc_friday';
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	line-height: 3rem;
}

h1#graphictext {
	font-family: 'babydollregular';
	color: #dac9ba;
}

h2#titleproject {
	color:  #dac9ba;
}


section#myproject, section#myproject2, section#myproject3, section#graphicdesign {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 90%;
}

.col-sm-6 , .col-sm-5.col-md-8.col-lg-6, .col-md-9, .col-xs-4 {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

video#project, img#project  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h2.topproject {
	margin-top: 0%;
}


section#myproject2, section#header {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

img#graphichead {
	width: 100%;
}

h1.flag {
	white-space: nowrap;
	font-size: 2vw;
	position: relative;
	display: inline;
}

h1.flag {/* Each letter */
}
h1.flag span {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: inline-block;
	font-family: 'fc_friday';
	text-align: center;
	position: relative;
	z-index: 1;
	-webkit-transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);/* Solid Surface */
}
h1.flag span::before {
	content: '';
	background-color: #F9F8EF;
	-webkit-transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
h1.flag span {/* Odd letters */
}
h1.flag span:nth-child(odd) {
	-webkit-transform: skewY(-8deg);
	        transform: skewY(-8deg);
	color: rgb(115, 115, 115);
	background: linear-gradient(-30deg, rgb(255, 255, 255), rgb(237, 236, 227));
	box-shadow: inset -1px 0 0px rgba(255, 255, 255, .3);
	prospective: 1000px;
}
h1.flag span {/* Even letters */
}
h1.flag span:nth-child(even) {
	-webkit-transform: skewY(8deg);
	        transform: skewY(8deg);
	color: #282828;
	background: linear-gradient(87deg, rgb(199, 198, 191), rgb(237, 236, 227));
	box-shadow: inset -1px 0 0px rgba(0, 0, 0, .05);
	prospective: 1000px;
}
h1.flag span {/* Paper border-radius */
}
h1.flag span:first-of-type,
		h1.flag span:first-of-type::before {
	border-radius: 4px 0 0 4px;
}
h1.flag span:last-of-type,
		h1.flag span:last-of-type:before {
	border-radius: 0 4px 4px 0;
}
h1.flag {/* Hover interaction */
}
h1.flag:hover::before {
	opacity: 0.5;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /></filter></svg>#filter');
	-webkit-filter: blur(2px);
	        filter: blur(2px);
	left: 1%;
	width: 98%;
}
h1.flag:hover span {
	-webkit-transform: none;
	        transform: none;
	color: #282828;
	box-shadow: none;
	-webkit-transition-duration: 200ms;
	        transition-duration: 200ms;
}
h1.flag:hover span::before {
	opacity: 1;
	-webkit-transition-duration: 200ms;
	        transition-duration: 200ms;
}
  

.slides-nav button {
    font-family: 'fc_friday'; }

	
.slides-nav__nav {
		float: right; }

h1#graphictext {
			text-align: right;
			float: right;
		}


.img-responsive {
	width: 100%;
}


a#white {
	text-decoration: none;
	color: #d3d3d3;
}

a#white:hover {
	text-decoration: none;
	color: white;
}


@media (max-width: 575px) {




	h2#titleproject {
		padding-bottom: 15%;
		text-align: center;
	}

	h1#titleproject {
		text-align: center;
	}

	#workhead {
		padding: 0;
		margin-left: 5%;
	}

	section#myproject, section#myproject2, section#graphicdesign {
		display: none;
	}
  
 	h1.flag span {
		width: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 50px;
	}

	h1.flag:hover span {
		width: 1em;
	}


	section#header {
		margin-top: 10%;
		padding-bottom: 20px;
	}

	video#project, img#project  {
		padding-bottom: 5%;
	}

	iframe.cine {
		width: 300px;
		height: 200px;
		padding-bottom: 20px;
	}


	

	section#cinematography {
		padding-top: 20px;
		padding-bottom: 0px;
	}

	section#myproject3 {
		padding-bottom: 20px;
	}

	section#graphicdesign2 {
		padding-top: 0px;
	}
    


}

@media (min-width: 576px) {

	section#graphicdesign2 {
		padding-top: 0px;
	}
    
	h1.flag span {
		width: 2em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 50px;
	}

	h1.flag:hover span {
		width: 2em;
	}

	section#header {
		margin-top: 10%;
		padding-bottom: 20px;
	}

	video#project, img#project  {
		padding-bottom: 5%;
		text-align: center;
	}

	h2#titleproject {
		padding-bottom: 15%;
		text-align: center;
	}

	section#myproject, section#myproject2, section#graphicdesign {
		display: none;
	}

	iframe.cine {
		width: 400px;
		height: 300px;
		padding-bottom: 20px;
	}


	section#myproject3 {
		padding-bottom: 20px;
	}




	  

}

@media (min-width: 768px) {

	
	  
	section#myproject, section#myproject3 {
		display: none;
	}

	section#myproject2 {
		display: block;
		padding-bottom: 20px;
	}

	h1.flag span {
		width: 2.2em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 60px;
	}

	h1.flag:hover span {
		width: 2.3em;
	}

	section#header {
		margin-top: 10%;
	}

	video#project, img#project {
		padding-right: 5px;
		margin-bottom:2%;
	}

	h1#titleproject {
		font-size: 40px;
		padding-bottom: 5%;
		text-align: left;
	}

	h2#titleproject {
		font-size: 28px;
		text-align: left;
	}

	#py {
		margin-left: -2%;
	}

	
	iframe.cine {
		width: 300px;
		height: 200px;
	}


	.slides-nav__nav {
		font-size: 1em;
		float: right;
		margin-right: -27%;
	  }

	


}

@media (min-width: 992px) {

	section#graphicdesign {
		padding-top: 20px;
		display: block;
	}

	section#cine2,  section#graphicdesign2 {
		display: none;
	}

	section#myproject2, section#myproject3 {
		display: none;
	}

	section#myproject {
		display: block;
	}

	section#header {
		margin-top: 5%;
		padding-bottom: 30px;
	}
	
	h1#titleproject {
		font-size: 20px;
		margin-bottom: 0;
	}

	h2#titleproject {
		font-size: 16px;
		
	}

	h1.flag span {
		width: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 50px;
	}

	h1.flag:hover span {
		width: 1.6em;
	}

	iframe.cine {
		width: 450px;
		height: 300px;
		display: block;
	}
	
	
	h1#graphictext {
		font-size: 50px;
		margin-top: 15%;
		margin-right: -5%;
		
	}

	.slides-nav__nav {
		font-size: 1.2em;
		float: right;
		margin-right: -15%;
	  }

	section#cinematography {
		padding-top: 20px;
	}
  

}

@media (min-width: 1200px) { 


	h1#titleproject {
		font-size: 24px;
	}

	h2#titleproject {
		font-size: 20px;
		
	}

	iframe.cine {
		width: 550px;
		height: 350px;
	}

	h1#graphictext {
		font-size: 50px;
		margin-top: 20%;
		padding-right: 5%;
	}

	.slides-nav__nav {
		font-size: 1.5em;
		float: right;
		margin-right: -10%;
	  }

}

@media (min-width: 1400px) {
   
	


	h1#titleproject {
		font-size: 30px;
	}

	h2#titleproject {
		font-size: 20px;
	}

	h1.flag span {
		width: 2em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 50px;
	}

	h1.flag:hover span {
		width: 2.1em;
	}

	iframe.cine {
		width: 650px;
		height: 450px;
	}

	h1#graphictext {
		font-size: 60px;
		margin-top: 20%;
		padding-right: 10%;
	}

	.slides-nav__nav {
		font-size: 2em;
		padding-right: 8%;
	  }
  

}

@media (min-width: 1800px) {
  
	
	section#header {
		margin-top: 3%;
		padding-bottom: 30px;
	}

	h1#titleproject {
		font-size: 45px;
	}

	h2#titleproject {
		font-size: 30px;
	}

	h1.flag span {
		width: 2.5em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 50px;
	}

	h1.flag:hover span {
		width: 2.6em;
	}

	iframe.cine {
		width: 750px;
		height: 500px;
	}

	h1#graphictext {
		font-size: 90px;
		margin-top: 20%;
		padding-right: 5%;
	}

	.slides-nav__nav {
		font-size: 2em;
		padding-right: 10%;
	  }
  
}

@media (min-width: 1900px) {

	h1#titleproject {
		font-size: 45px;
	}

	h2#titleproject {
		font-size: 30px;
	}

	iframe.cine {
		width: 750px;
		height: 500px;
	}

	h1#graphictext {
		font-size: 90px;
		margin-top: 20%;
		padding-right: 10%;
	}

	.slides-nav__nav {
		font-size: 2em;
		padding-right: 10%;
	  }
	


}