* {
  margin: 0;
  padding: 0;
  list-style-type: none; 
} 

header {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 1);
  z-index: 120;
}



header li {
  float: right;
  list-style-type: none;
}

header li a {
  float: right;
  color: #fff;
  text-decoration: none;
}

a.prev,
a.next {
  height: 91px;
  position: absolute;
  width: 43px;
  top: 50%;
  margin-top: -30px;
  opacity: 0.6;
  text-indent: -99999px;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease-out;
}

a.prev:hover,
a.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
  background: #000
    url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
    no-repeat -200px 25px;
}
.next {
  right: 0;
  background: #000
    url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
    no-repeat -167px 25px;
}
.slider {
  height: 100vh;
  position: relative;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slider .slide:target {
  z-index: 100;
} 


body {
  overflow: hidden;
}

.folder {
  font-family: 'ZCOOL KuaiLe', cursive;
}

 
