@media only screen and (min-width: 700px) and (max-width: 1439px) {
    /* For IPAD: */
    .header {
        font-size: 330%;
        margin-bottom: 5%;
    }
    
    b {
        font-size: 250%;
    }
    
    .text1 {
        font-size: 185%;
    }
    
    .yt {
        height: 400px;
        width: 100%;
    }
    
    .member {
        display: none;
    }
    
    .memberL {
        margin-top: 5%;
    }
    
    .music {
        display: none;
    }
    
    .bodyleft {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .imgdance {
        padding-top: 5%;
        text-align: center;
        font-size: 160%;
    }
    
    .black {
        padding-top: 5%;
        text-align: center;
        font-size: 160%;
    }

    .wendyset {
        text-align: center;
        font-size: 160%;
    }

    .yeriset {
        text-align: center;
        font-size: 160%;
    }
    
  
    .body2 {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .wendy {
        padding-top: 5%;
    }
    
    .yeri {
        padding-top: 5%;
    }
    
    .irene {
        padding-top: 5%;
    }
    
    .butterfly {
        padding-top: 5%;
    }
    
    .part2 {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .part3 {
        font-size: 185%;
        padding-top: 5%;
    }

    .contact {
        
        bottom: 0;
        text-align: center;
        font-size: 150%;
        background-color: rgb(0, 0, 0);
        padding: 3%;
        color: white;
    }

    }
 
 