@media only screen and (min-width: 700px) and (max-width: 1439px) {
    /* For IPAD: */
    .header {
        font-size: 330%;
        margin-bottom: 5%;
    }
    
    b {
        font-size: 250%;
    }
    
    .body {
        font-size: 185%;
    }
    
    .yt {
        height: 400px;
        width: 100%;
    }
    
    .member {
        display: none;
    }
    
    .memberL {
        margin-top: 5%;
    }
    
    .music {
        display: none;
    }
    
    .bodyleft {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .imgdance {
        padding-top: 5%;
    }
    
    .black {
        padding-top: 5%;
    }
    
    .dancetext {
        display: none;
    }
    
    .body2 {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .wendy {
        padding-top: 5%;
    }
    
    .yeri {
        padding-top: 5%;
    }
    
    .irene {
        padding-top: 5%;
    }
    
    .butterfly {
        padding-top: 5%;
    }
    
    .wytext {
        display: none;
    }
    
    .part2 {
        font-size: 185%;
        padding-top: 5%;
    }
    
    .part3 {
        font-size: 185%;
        padding-top: 5%;
    }
    
    }
 }
 