@media only screen and (min-width: 1900px) and (max-width: 2157px) {
    body {
        margin: 0;
      }
      
      /* Style the header */
      .header {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
      }
      
      /* Style the top navigation bar */
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      /* Style the topnav links */
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change color on hover */
     
      
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        padding: 15px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
}