@media only screen and (max-width: 2157px) {
  
  .logo {
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 2%;
  }
      
  .boontook {
    margin-top: -4.5%;
  }

  #about {
    margin-left: 2%;
    font-size: 150%;
    text-align: left;
}

  #book {
   text-align: left;
   margin-left: 85%;
   font-size: 150%;

   
}
.name {
  font-size: 650%;
  margin-right: 52%;
  margin-top: 18%;
  text-align: right;
}

#school {
  font-size: 180%;
  margin-left: 17.5%;
  margin-top: 0.2%;
}

.line {
  margin-top: -42%;
  margin-left: 27%;
}

.picmm {
  margin-left: 55%;
  margin-top: -29%;
  width: 30%;
}
      
.scroll {
  margin-top: -97%;
  margin-left: 1%;
}

.github {
  width: 7%;
  margin-left: 25%;
  margin-top: -18%;
}

.gmail {
  width: 7%;
  margin-left: 4%;
  margin-top: -18%;
}

}
