        .head {
            background-color: black;
            filter: grayscale(100%);
            height: auto;
        }    

       g {
          font-family: 'Prompt', sans-serif;
          }

        b {
            font-family: 'Special Elite', cursive;
            font-weight: normal;
        }

        .yougotme {
            text-align: center;
        }

        c {
            font-style: oblique;
        }

        d {
            font-weight: bold;
        }

        e {
            font-weight: bold;
            font-style: oblique;
        }

        f {
            font-weight: bold;
        }

        h {
            color: red;
        }

        .box {
            margin: 5%;
            padding: 3%;
            height: auto;

            }

        body {
            overflow-x: hidden;
        }

        img {
            width: 100%;
        }

        .member {
            width: 100%;
        }

        .music {
            position: fixed;
            bottom: 0;
            right: 0;
        }
       
        .wendy {
            width: 100%;
        }

        .yeri {
            width: 100%;
        }

        .irene {
            width: 100%;
        }

        .butterfly {
            width: 100%;
        }
        
        .contact {
            margin: 20px;
            bottom: 0;
            text-align: right;
          }

          .name {
            margin: 20px;
            bottom: 0;
            text-align: right;
          }

    