
         .head {
            background-color: black;
            margin: -1%;
            filter: grayscale(100%);
            position: static;

        }

       .c1 {
          font-family: 'Prompt', sans-serif;
          text-align: left;
          position: relative;
        }

       g {
          color: red;
          }

        b {
            font-family: 'Special Elite', cursive;
            font-weight: normal;
        }

        c {
            font-style: oblique;
        }

        d {
            font-weight: bold;
        }

        e {
            font-weight: bold;
            font-style: oblique;
        }

        f {
            font-weight: bold;
        }

        .box {
            background-color: white;
            position: relative;


        }

        body {
            background-color: #ffeff5;
            overflow-x: hidden;

        }

        img {
            width: 100%;
        }

        .member {
            width: 100%;
        }

        .dancetext {
            font-style: oblique;
        }

        .music {
            position: fixed;
            bottom: 0;
            right: 0;
        }

        .yt {
            position: relative;
        }
       