
         .head {
             background-color: black;
             margin: -1%;
             filter: grayscale(100%);
             height: 250px;
         }

        .c1 {
           font-family: 'Prompt', sans-serif;
           text-align: left;
           position: absolute;
         }

        g {
           color: red;
           }

         b {
             font-family: 'Special Elite', cursive;
             font-weight: normal;
         }

         c {
             font-style: oblique;
         }

         d {
             font-weight: bold;
         }

         e {
             font-weight: bold;
             font-style: oblique;
         }

         f {
             font-weight: bold;
         }

         .box {
             background-color: white;
             width: 1000px;
             height: 2550px;
             position: absolute;
             top: 55%;
             left: 17%;

         }

         body {
             background-color: #ffeff5;
             overflow-x: hidden;

         }

         img {
             width: 100%;
         }

         .member {
             width: 100%;
         }

         .dancetext {
             font-style: oblique;
         }

         /*
         .box2 {
             background-color: #cfb6bf;
             width: 2000px;
             height: 900px;
             margin-left: -50%;
             margin-top: -70%;
             overflow-y: hidden;
         }
         */

         .music {
             position: fixed;
             bottom: 0;
             right: 0;
         }

        