@media only screen and (min-width: 1901px) and (max-width: 3500px) {
     /*for PC*/
                     .box {
                         z-index: 1;
                         width: 1000px;
                         height: 2500px;
                         top: 21%;
                         left: 25%;
                     }
                     .music {
                         width: 250px;
                     }
                     .box {
                        width: 52%;
                    }
                
                      .head{
                        width: 101.5%;
                        height: 250px;
                      }
                  
                       .c1 {
                                top: 3%;
                                   max-width: 85%;
                                   font-size: 22px;
                                   left: 8%;
                               }
                  
                       b {
                                   font-size: 32px;
                                   margin-left: 15%;
                               }
                  
                       f {
                                  font-size: 34px;
                       }
                  
                  
                       .header {
                                   margin-bottom: 20px;
                                   font-size: 36px;
                                   margin-left: 2%;
                                   margin-top: 80px;
                               }
                  
                       .body {
                                   font-size: 22px;
                                   max-width: 780px;
                                   margin-left: 5%;
                                   margin-top: -1%;
                               }
                  
                           .yt {
                               height: 320px;
                               width: 570px;
                               margin-top: -15px;
                               margin-left: -6%;
                           }
                  
                        .member {
                                  margin-top: -300px;
                                  width: 43%;
                                  margin-left: 63%;
                        }
                  
                           .bodyleft {
                               margin-left: -2.5%;
                               max-width: 550px;
                               margin-top: -380px;
                           }
                  
                           .imgdance {
                               width: 40%;
                               margin-left: -3%;
                               margin-top: 40px;
                           }
                  
                           .black {
                               width: 193px;
                               height: 193px;
                               margin-left: 39%;
                               margin-top: -203px;
                           }
                  
                           .dancetext {
                               font-size: 18px;
                               margin-top: 19px;
                               margin-left: 7%;
                           }
                  
                           .part1 {
                               margin-left: -1px;
                           }
                  
                           .imgleft {
                               margin-left: -1%;
                           }
                  
                           .body2 {
                               margin-top: 50px;
                               margin-left: 4%;
                           }
                  
                           .wendy {
                               margin-top: 50px;
                               width: 50%;
                               margin-left: -1%;
                               display: flex;
                               top: 0;
                           }
                  
                           .yeri {
                               margin-top: -239px;
                               width: 50%;
                               margin-left: 51%;
                               top: 0;
                               display: flex;
                               
                           }
                  
                           .wytext {
                               font-size: 18px;
                               margin-top: 20px;
                               margin-left: -0.8%;
                  
                           }
                  
                           .butterfly {
                               width: 50%;
                               margin-top: 80px;
                               margin-left: -3%;
                           }
                  
                           .irene {
                               width: 50%;
                               margin-top: 10px;
                               margin-left: -3%;
                               display: flex;
                           }
                  
                           .part2 {
                               max-width: 100%;
                               margin-left: 53%;
                               margin-top: -45%;
                           }
                  
                           .part3 {
                              max-width: 100%;
                              margin-top: 23%;
                          }
                  
                          audio {
                              bottom: 0; 
                              position: fixed; 
                              right: 0; 
                              width: 250px;
                           }
           
            }
  