
@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #393939;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 960px;
	height: 600px;
	
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:960px;
	height:600px;
	z-index: 1;
}



.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px rgb(0, 0, 0);
	-moz-box-shadow:0 0 10px rgb(0, 0, 0);
	-ms-box-shadow:0 0 10px rgb(0, 0, 0);
	-o-box-shadow:0 0 10px rgb(0, 0, 0);
	box-shadow:0 0 10px rgb(0, 0, 0);
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3, 
.sj-book .p13, 
.sj-book .p14{
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p4 {
	background-image:url(../pics/about.jpg) !important;
}

.sj-book .p5 {
	background-image:url(../pics/edu.jpg) !important;
}

.sj-book .p6 {
	background-image:url(../pics/namo.jpg) !important;
}

.sj-book .p7 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p8 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p9 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p10 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p11 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p12 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p13 {
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p14 {
	background-image:url(../pics/book-covers.jpg) !important;
}






.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-1920px 0 !important;
}

.sj-book .p13{
	background-position:-960px 0 !important;
}

.sj-book .p14{
	background-position:-1440px 0 !important;
}

.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
	z-index: 1;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}


.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
}

.sj-book .table-contents a{
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../pics/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../pics/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

